
.wrapper{
	margin: 50px auto;
	font-weight: 400 px;
	padding-left: 100px;
}

button.accordion{
	color: #fff;
	cursor: pointer;
	border: 0px;
	padding: 18px;
	width: 900px;
	height: 100px;
	text-align: left;
	font-size: 18px;
	transition:.4s;
	background: blue;
	padding: 16px 20px;
	margin: 30px 0px 0px 0px;
	border-radius: 5px;
}

button:focus{
	outline: none;
}

button.accordion.active, button.accordion:hover{
	background: #02075C;
}

div.panel{
	float: left;
	padding: 0 18px ;
	color: #000;
	max-height: 0;
	overflow: hidden;
	width: 864px;
	transition: max-height .2s ease-out;
	background: lightblue;
	border-radius: 3px;
}

